# Node.js dependencies
node_modules/
package-lock.json

config/

# Env files
.env

# Logs
logs/
*.log
npm-debug.log*

# MacOS files
.DS_Store

# Editor configs (opcional, según tu editor)
.vscode/
.idea/
